---
http_interactions:
- request:
    method: get
    uri: https://api.bestbuy.com/v1/stores(area(80211,25))?apiKey=a8k7nnexb87aa9hb3zzqbgf7&format=json&pageSize=10&show=longName,city,distance,phone,storeType
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"from":1,"to":10,"currentPage":1,"total":16,"totalPages":2,"queryTime":"0.012","totalTime":"0.022","partial":false,"canonicalUrl":"/v1/stores(area(\"80211\",25))?show=longName,city,distance,phone,storeType&pageSize=10&format=json&apiKey=a8k7nnexb87aa9hb3zzqbgf7","stores":[{"longName":"BEST
        BUY MOBILE - CHERRY CREEK SHOPPING CENTER","city":"DENVER","distance":5.04,"phone":"303-270-9189","storeType":"Mobile
        SAS"},{"longName":"BEST BUY - BELMAR","city":"LAKEWOOD","distance":5.15,"phone":"303-742-8039","storeType":"Big
        Box"},{"longName":"BEST BUY - WESTMINSTER","city":"WESTMINSTER","distance":7.13,"phone":"303-426-4434","storeType":"Big
        Box"},{"longName":"BEST BUY - COLORADO BLVD","city":"DENVER","distance":7.15,"phone":"303-758-5805","storeType":"Big
        Box"},{"longName":"BEST BUY - DENVER WEST","city":"LAKEWOOD","distance":7.45,"phone":"303-273-5617","storeType":"Big
        Box"},{"longName":"BEST BUY - NORTHGLENN","city":"DENVER","distance":8.22,"phone":"303-252-8677","storeType":"Big
        Box"},{"longName":"BEST BUY - LITTLETON","city":"LAKEWOOD","distance":10.93,"phone":"303-932-7830","storeType":"Big
        Box"},{"longName":"BEST BUY MOBILE - TOWN CENTER AT AURORA","city":"AURORA","distance":11.20,"phone":"303-326-0848","storeType":"Mobile
        SAS"},{"longName":"BEST BUY - AURORA","city":"AURORA","distance":11.30,"phone":"303-338-5797","storeType":"Big
        Box"},{"longName":"BEST BUY - SOUTHGLENN","city":"CENTENNIAL","distance":12.31,"phone":"303-797-3246","storeType":"Big
        Box"}],"warnings":"Distances are in terms of miles (default)"}'
  recorded_at: Thu, 01 Jun 2017 21:05:41 GMT
[...]
